services:
  postgres:
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ble_db
    volumes:
      - BLE_DB_DATA:/var/lib/postgresql/data
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    command: sh -c "uv run alembic upgrade head && uv run gunicorn -k uvicorn.workers.UvicornWorker app:app --bind 0.0.0.0:8000 --workers 4"
    expose:
      - 8000
    depends_on:
      - postgres
  nginx:
    image: nginx:latest
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/app.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - backend
  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
  BLE_DB_DATA: