version: "3"

services:
  postgres:
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ble_db
    volumes:
      - BLE_DB_DATA:/var/lib/postgresql/data

volumes:
  BLE_DB_DATA: